%h2 Edit Holiday List
= form_for @holiday, :url => { :action => "update" } do |f|
  -@holiday.errors.full_messages.each do |msg|
    %p= msg

  .field
    = f.label :Date
    %br/
    = f.date_select :date
  .field
    = f.label :Event
    %br/
    = f.text_field :event
  .action
    = f.submit

= link_to 'Back', holidays_index_path
