<h2>Holidays List</h2>
<table>
  <tr>
    <th>Date</th>
    <th>Day</th>
    <th>Event</th>
  </tr>

  <% @holidays.each do |holiday| %>
    <tr>
      <td><%= holiday.date %></td>
      <td><%= holiday.day %></td>
      <td><%= holiday.event %></td>
      <% if current_user.role == 'admin' %>
        <td><%= link_to 'Edit', edit_holiday_path(holiday) %></td>
        <td><%= link_to 'Destroy', holiday, confirm: 'Are you sure?', method: :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>


<% if current_user.role == 'admin' %>
  <%= link_to 'Back', user_management_user_path(current_user.id) %><br /><br />
  <%= link_to 'Insert Holiday', new_holiday_path %>
<% else %>
  <%= link_to 'Back', leaves_path %>
<% end %>

<!--
%h2 Holidays List in
%table{:border => "5", :cellspacing => "1", :cellpadding => "4", :bordercolor => "black")
  %tr
    %th{:align => "center", :valign => "middle"} Date
    %th{:align => "center", :valign => "middle"} Day
    %th{align => "center", valign => "middle"} Event

  - @holidays.each do |holiday|
    %tr
      %td= holoday.date
      %td= holoday.day
      %td= holiday.event
      - if current_user.role == 'admin'
        %td= link_to 'Edit', edit_holiday_path(holiday)
        %td= link_to 'Destroy', holiday, confirm: 'Are you sure?', method: :delete

- if current_user.role == 'admin'
  = link_to 'Back', user_management_user_path(current_user.id)
  %br/
  %br/
  = link_to 'Back', leaves_path

-->
