<h3>Setup</h3>

<table>
  <tr>
    <th>Total Leaves</th>
    <th>Year</th>
  </tr>

  <% @setups.each do |setup| %>
    <tr>
      <td><%= setup.total_leaves %></td>
      <td><%= setup.year %></td>
      <td><%= link_to 'Edit', edit_setup_path(setup) %></td>
      <td><%= link_to 'Destroy', setup, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to 'New Entry', new_setup_path %>
</p>

<p>
  <%= link_to 'Back', user_management_user_path(current_user.id) %>
</p>

