<h2>Edit Employee's Information</h2>

<%= form_for @user, :url => { :action => "update" } do |f| %>
  <% @user.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>

   <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div><br />

  <div class="field">
    <%= f.label :manager_id %><br />
    <%= f.select("manager_id", User.managers.collect {|p| [p.email, p.id] }) %>
  </div><br />

  <div class="field">
    <%= f.radio_button :role, 'employee' %>Employee
    <%= f.radio_button :role, 'manager' %>Manager
  </div>

  <div class="field">
    <%= f.label :Joining_Date %>
    <%= f.date_select :joining_date %>
  </div>

  <div class="action">
    <%= f.submit "Change" %><br />
  </div><br />

<% end %>

<br />

<%= link_to 'Back', user_management_user_path(current_user.id) %>


