<h2>Admin</h2>
<br />
<h3>User Management</h3>
<table>
  <tr>
    <th>Employee</th>
    <th>Reporting Manager</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.manager_id %></td>
      <td><%= link_to 'Edit', edit_user_path(user.id) %></td>
    </tr>
    <% end %>

</table>

<%= link_to "Setup for Leaves", setups_path %><br />

<%= link_to "Manage Holiday List", holidays_index_path %>

