<%= render '/setups/leave_balance' %>
<h2>Employee's DashBoard</h2>
<h4>Leaves Pending for Approval:-</h4>
<table border="5" cellspacing="1" cellpadding="4" bordercolor="black" border-style="solid">
  <tr id="heading" class="bold italics">
    <th align="center" valign="middle">Applied_on</th>
    <th align="center" valign="middle">No_of_Days</th>
    <th align="center" valign="middle">Start_date</th>
    <th align="center" valign="middle">End_date</th>
    <th align="center" valign="middle">Current_status</th>
    <% if current_user.role == 'Manager'%>
      <th>Employee</th>
      <th>Action</th>
    <% end %>
  </tr>

<!--
%table(border="5" cellspacing="1" cellpadding="4" bordercolor="black" border-style="solid")
  %tr#heading.bold.italics{:background => @leave.id % 2 == 0 ? 'grey' : 'white'}(height = "10px")
    %th(align="center" valign="middle") Applied_on
    %th(align="center" valign="middle") No_of_Days
    - if current_user.role == "Manager"
      %th Employe%table(border="5" cellspacing="1" cellpadding="4" bordercolor="black" border-style="solid")
  %tr#heading.bold.italics
    %th(align="center" valign="middle") Applied_on
    %th(align="center" valign="middle") No_of_Days
    - if current_user.role == "Manager"
      %th Employee
      %th Action
  - @leaves.each do |leave|
    - if leave.current_status == "Pending"
      #whatever

      <div id="whatever"></div>

      %th Action
  - @leaves.each do |leave|
    - if leave.current_status == "Pending"
      #whatever

      <div id="whatever"></div>
-->
    <% @leaves.each do |leave| %>
    <% if leave.current_status == "Pending" %>
      <tr>
        <td><%= leave.created_at.strftime("%d-%m-%Y") %></td>
        <td><%= leave.no_of_days %></td>
        <td><%= leave.start_date.strftime("%d-%m-%Y") %></td>
        <td><%= leave.end_date.strftime("%d-%m-%Y") %></td>
        <td><%= leave.current_status %></td>
        <% if current_user.role == 'Manager'%>
          <td><%= leave.user.email %></td>
          <td>
            <%= link_to 'Approve/Reject', approve_reject_leave_path(:id => leave.id, :user_id => leave.user.id)%>
          </td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>

<%= render 'form' %>
