<%= content_for :sidebar do %>
  <%= render '/setups/leave_balance' %>
<% end %>

<h2>Employee's DashBoard:-</h2>
<table>
  <caption>Pending Leaves of <%= current_user.email %></caption>
  <tr>
    <th>Applied_on</th>
    <th>No_of_Days</th>
    <th>Start_date</th>
    <th>End_date</th>
    <th>Current_status</th>
    <!-- <% if current_user.role == 'manager'%>
      <th>Employee</th>
      <th>Action</th>
    <% end %>-->
  </tr>

    <% @leaves.each do |leave| %>
      <% if leave.current_status == "Pending" %>
        <tr>
          <td><%= leave.created_at.strftime("%d-%m-%Y") %></td>
          <td><%= leave.no_of_days %></td>
          <td><%= leave.start_date.strftime("%d-%m-%Y") %></td>
          <td><%= leave.end_date.strftime("%d-%m-%Y") %></td>
          <td><%= leave.current_status %></td>
          <!--<% if current_user.role == 'manager'%>
            <td><%= leave.user.email %></td>
            <td>
              <%= link_to 'Approve/Reject', approve_reject_leave_path(:id => leave.id, :user_id => leave.user.id)%>
            </td>
          <% end %> -->
        </tr>
      <% end %>
    <% end %>
</table>

<%= render 'form' %>

<% if current_user.role == 'manager' %>
  <table>
    <caption>Pending leaves of employees</caption>
    <tr>
      <th>Applied_on</th>
      <th>No_of_Days</th>
      <th>Start_date</th>
      <th>End_date</th>
      <th>Current_status</th>
      <th>Employee</th>
      <th>Action</th>
    </tr>

  <% @subordinates = User.where(:manager_id => current_user.id) %>
  <% @subordinates.each do |subordinate| %>
    <% @subordinates_leaves = subordinate.leaves %>
    <% @subordinates_leaves.each do |leave| %>
      <% if leave.current_status == "Pending" %>
      <tr>
        <td><%= leave.created_at.strftime("%d-%m-%Y") %></td>
        <td><%= leave.no_of_days %></td>
        <td><%= leave.start_date.strftime("%d-%m-%Y") %></td>
        <td><%= leave.end_date.strftime("%d-%m-%Y") %></td>
        <td><%= leave.current_status %></td>
        <td><%= leave.user.email %></td>
        <td>
          <%= link_to 'Approve/Reject', approve_reject_leave_path(:id => leave.id, :user_id => leave.user.id)%>
        </td> 
      </tr>
    <% end %>
    <% end %>
  <% end %>
</table>
<br />
<hr />
<br />
<table>
  <caption>Approved Leaves of employees</caption>
  <tr>
    <th>Applied_on</th>
    <th>No_of_Days</th>
    <th>Start_date</th>
    <th>End_date</th>
    <th>Approved_on</th>
    <th>Email</th>
   </tr>
   
   <% @subordinates = User.where(:manager_id => current_user.id) %>
   <% @subordinates.each do |subordinate| %>
      <% @subordinates_leaves = subordinate.leaves %>
      <% @subordinates_leaves.each do |leave| %>
      <% if leave.current_status == "Approved" %>
        <tr>
          <td><%= leave.created_at.strftime("%d-%m-%Y") %></td>
          <td><%= leave.no_of_days %></td>
          <td><%= leave.start_date.strftime("%d-%m-%Y") %></td>
          <td><%= leave.end_date.strftime("%d-%m-%Y") %></td>
          <td><%= leave.updated_at.strftime("%d-%m-%Y") %></td>
          <td><%= leave.user.email %></td>
      </tr>
      <% end %>
    <% end %>
  <% end %>
</table>
<% end %>

<!--
= render '/setups/leave_balance'
%h2 Employee's DashBoard
%h4 Leaves Pending for Approval:-
%table
  %tr
    %th Applied_on
    %th No_of_Days
    %th Start_date
    %th End_date
    %th Current_status
    - if current_user.role == "manager"
      %th Employee
      %th Action

   - @leaves.each do |leave|
    - if leave.current_status == "Pending"
      %tr
        %td= leave.created_at.strftime("%d-%m-%Y")
        %td= leave.no_of_days
        %td= leave.start_date
        %td= leave.end_date
        %td= leave.current_status
        - if current_user.role == 'manager'
          %td= leave.user.email
          %td= link_to 'Approve/Reject', approve_reject_leave_path(:id => leave.id, :user_id => leave.user.id)
= render 'form'
-->






