<p id="notice"><%= notice %></p>

<p>
  <b>Applied_On</b>
  <%=l @leave.created_at %>
</p>

<p>
  <b>start_date</b>
  <%=l @leave.start_date %>
</p>

<p>
  <b>end_date</b>
  <%=l @leave.end_date %>
</p>

<p>
  <b>no_of_days</b>
  <%= @leave.no_of_days %>
</p>

<p>
  <b>current_status</b>
  <%= @leave.current_status %>
</p>

<p>
  <%= link_to 'Back', leaves_path %>
</p>

