<p id="notice"><%= notice %></p>

<p>
  <b>Applied_On</b>
  <%= @leave.Applied_on %>
</p>

<p>
  <b>Start_Date</b>
  <%= @leave.Start_Date %>
</p>

<p>
  <b>End_Date</b>
  <%= @leave.End_Date %>
</p>

<p>
  <b>No_of_Days</b>
  <%= @leave.No_of_Days %>
</p>

<p>
  <b>Current_Status</b>
  <%= @leave.Current_Status %>
</p>

